<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Home Page!</title>
  <link rel="stylesheet" href="css/home.css">
  <!-- <style>
    body{
      background-color: ;
    }
  </style>   -->
</head>
<body>
  <!--PLACEHOLDERS-->
    <!--This should be a NavBar-->
    <div class="navBar">
      <!-- <p class="textito"><%= user %></p>-->
      <a href="/logout" class="cuadroLindo">Log Out</a>
    </div>

  <!--This should be the filler content-->
  <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit dolorum minima, perferendis dolor nesciunt autem doloremque rem ipsum non saepe amet maiores est deserunt, pariatur obcaecati atque. Culpa, enim suscipit.</p> -->
  <h1 class="textito">Bienvenido <%= user %>
</body>
</html>