<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Home Page admin!</title>
  <head>
    <link rel="stylesheet" type="text/css" href="css/home.css">
  </head>
  
</head>
<body>
  <!-- Barra de navegación -->
  <div class="navBar">
  
    <a href="/logout" class="cuadroLindo">Log Out</a>
  </div>

  <!-- Contenido de la página de inicio -->
  <h1 class="textito">Bienvenido Administrador <%= admin %></h1> <!-- Mostrar el nombre del administrador -->
</body>
</html>
